---
http_interactions:
- request:
    method: get
    uri: https://api.foursquare.com/v2/venues/search?client_id=AV03ZKZYEYRCHDPEIJN4QDMCZV30M5UM14XWSONSNS3YQFNV&client_secret=HICXJ5YBXQRJGH0GW0DIYXGSNGAKYXWCK5WL00EWMPHRE1CJ&ll=51.508857899999995,-0.195678&query=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracer-Time:
      - '70'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ex:
      - fastly_cdn
    body:
      encoding: US-ASCII
      string: ! '{"meta":{"code":200,"errorType":"deprecated","errorDetail":"This
        endpoint will stop returning groups in the future. Please use a current version,
        see http:\/\/bit.ly\/vywCav."},"response":{"groups":[{"type":"places","name":"Places","items":[{"id":"4c3234d866e40f478b21c68b","name":"Video
        City","contact":{},"location":{"address":"Notting Hill GTe","lat":51.50882711644852,"lng":-0.19819456963498744,"distance":174,"city":"Kensington","state":"Greater
        London","country":"United Kingdom","cc":"GB"},"canonicalUrl":"https:\/\/foursquare.com\/v\/video-city\/4c3234d866e40f478b21c68b","categories":[{"id":"4bf58dd8d48988d126951735","name":"Video
        Store","pluralName":"Video Stores","shortName":"Video Store","icon":"https:\/\/foursquare.com\/img\/categories\/shops\/video.png","parents":["Shop
        & Service"],"primary":true}],"verified":false,"restricted":true,"stats":{"checkinsCount":50,"usersCount":22,"tipCount":1},"likes":{"count":0,"groups":[]}},{"id":"4c76780066be6dcbc829c30f","name":"Music
        & Video Exchange","contact":{},"location":{"address":"38-42 Notting Hill Gate","lat":51.509317,"lng":-0.194834,"distance":77,"postalCode":"W11","city":"London","state":"Greater
        London","country":"United Kingdom","cc":"GB"},"canonicalUrl":"https:\/\/foursquare.com\/v\/music--video-exchange\/4c76780066be6dcbc829c30f","categories":[{"id":"4bf58dd8d48988d10d951735","name":"Record
        Shop","pluralName":"Record Shops","shortName":"Record Shop","icon":"https:\/\/foursquare.com\/img\/categories\/shops\/record_shop.png","parents":["Shop
        & Service"],"primary":true}],"verified":false,"restricted":true,"stats":{"checkinsC[...]
